@* @page "/password_manager/register_page" *@
@using MAUIFolderFocker.Shared.Services.PasswordManager.Singleton

@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject UserLoginObject SingletonUserLogin



<div class="login-container">
    <div class="align-content-center">
    <p class="h2">Register</p>
    </div>

    <form>
        <div class="mb-3">
            <label for="login" class="form-label">Login</label>
            <input type="text" class="form-control" id="login" @bind="login">
            <div id="emailHelp" class="form-text">You !MUST! never share your login with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" @bind="password">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="repeatPassword" @bind="repeatPassword">
        </div>
        <div class="mb-3">
            <label class="form-label">PIN</label>
            <input type="number" class="form-control" @bind="pin">
        </div>
        <button type="button" class="btn btn-primary" @onclick=Register>Register</button>
        @* <button type="submit" class="btn btn-primary" @onclick=Login>Login</button> *@
    </form>
</div>

@code {
    private UserLoginObject _userLogin = new UserLoginObject();
    private string login = "";
    private string password = "";
    private string repeatPassword = "";
    private int pin;

    private void HandleLogin()
    {
        // Do usuniêcia !!!!
    }
    private void Register()
    {
        System.Diagnostics.Debug.WriteLine($"Login: {login}, Password: {password}, PIN: {pin}");

        if (login is null || password is null)
        {
            Console.WriteLine("Login failed: Missing credentials.");
            return;
        }
        if(password != repeatPassword)
        {
            Console.WriteLine("Registration failed: Passwords do not match.");
            return;
        }
        _userLogin = new UserLoginObject(login, password, pin.ToString());
        // Console.WriteLine($"User: {_userLogin}");

        SingletonUserLogin = _userLogin;

        System.Diagnostics.Debug.WriteLine($"Singleton UserLoginObject: {SingletonUserLogin.Login}");
        Navigation.NavigateTo("/password-manager/storage");

    }


}