@page "/password_manager/login_page"
@using MAUIFolderFocker.Shared.Services.PasswordManager.Singleton

@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject UserLoginObject SingletonUserLogin



<div class="login-container">
    <h2>Logowanie</h2>
    
    <form>
        <div class="mb-3">
            <label for="login" class="form-label" >Login</label>
            <input type="text" class="form-control" id="login" @bind="login">
            <div id="emailHelp" class="form-text">You !MUST! never share your login with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" @bind="password">
        </div>
        <div class="mb-3">
            <label class="form-label">PIN</label>
            <input type="number" class="form-control" @bind="pin">
        </div>
        <button type="button" class="btn btn-primary" @onclick=Login>Login</button>
        @* <button type="submit" class="btn btn-primary" @onclick=Login>Login</button> *@
    </form>
</div>

@code {
    private UserLoginObject _userLogin = new UserLoginObject();
    private string login;
    private string password;
    private int pin;

    private void HandleLogin()
    {
        // Do usunięcia !!!!
    }
    private void Login()
    {
        System.Diagnostics.Debug.WriteLine($"Login: {login}, Password: {password}, PIN: {pin}");

        if(login is null || password is null)
        {
            Console.WriteLine("Login failed: Missing credentials.");
            return;
        }
        _userLogin = new UserLoginObject(login, password,pin.ToString());

        Console.WriteLine($"User: {_userLogin}");

        SingletonUserLogin = _userLogin;

        System.Diagnostics.Debug.WriteLine($"Singleton UserLoginObject: {SingletonUserLogin.Login}");
        Navigation.NavigateTo("/password-manager/storage");

    }

    
}
    @* private LoginModel loginModel = new LoginModel();
    public class LoginModel
    {
        public string Login { get; set; }
        public string Password { get; set; }
        public string Pin { get; set; }
    } *@
@* <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <InputText placeholder="Login" @bind-Value="loginModel.Login" />
    <InputText placeholder="Hasło" @bind-Value="loginModel.Password" type="password" />
    <InputText placeholder="PIN" @bind-Value="loginModel.Pin" type="password" />

    <button type="submit">Zaloguj</button>
</EditForm> *@