@using System.Security
@using MAUIFolderFocker.Shared.Services.PasswordManager.UI
@inject IJSRuntime JS 

@page "/password_manager_mainpage";

<h3>PasswordManagerMainPage</h3>





<div class="position-relative">
    @foreach (var cardContent in CardContents)
    {
        @* wstawiać karty na stronę *@

    }        


</div>
@code{
    List<PasswordManagerMainPageCardContentObject> CardContents = new List<PasswordManagerMainPageCardContentObject>()
    {
        
    };

    private void OnCardClicked(PasswordManagerMainPageCardContentObject cardContent)
    {
        
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        CardContents = new PasswordManagerMainPageCardContent().ReturnConstCardData();




    }




}