<h3>PasswordStaragePage</h3>
@page "/password_manager/storage_page"



<style>

</style>



<div id="table-main" class="table table-striped">
    <tr>
        <td></td>
    </tr>




</div>



@code {



}
