@page "/password-generator"
@using MAUIAdvancePasswordGenerator.Shared.Services.PasswordGenerator.Interfaces
@using MAUIFolderFocker.Shared.Services.PasswordGenerator
@using MAUIFolderFocker.Shared.Services.PasswordGenerator.Constants
@using MAUIFolderFocker.Shared.Services.PasswordGenerator.Models
@using MAUIFolderFocker.Shared.Services.PasswordGenerator.Services
@using System.Reflection

@inject PasswordGenerator Generator

<div class="alert-danger" role="alert">
    @ErrorMessage
</div>
<div class="alert-info">
    @AlertMessage
</div>

<div class="alert-success" role="alert">
    @SuccessMessage
</div>

<div class="password-generator-option-list">

    <p class="h2">
        Select Password Generate Style:
        <select @bind="SelectedPasswordType" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option value="password">Password</option>"
            <option value="word">Words</option>"
        </select>
    </p>
    @* <ul class="list-group">
    </ul> *@
    @if (SelectedPasswordType == "password")
    {
        <div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label h3">Password Length</label>
                <br />
                <label class="form-label h5">Password Length: </label>
                <input type="number" class="" @bind-value="PasswordLength" />
                <input type="range" class="form-range" @bind-value="PasswordLength" min="1" max="1000" step="1" />
            </div>
            <div class="mb-3">
                <input type="checkbox" @bind-value="PasswordIncludeLowercase" />
                <label class="form-check-label h5">InClude LowerCase</label>
            </div>
            <div class="mb-3">
                <input type="checkbox" @bind-value="PasswordIncludeUppercase" />
                <label class="form-check-label  h5">InClude UpperCase</label>
            </div>
            <div class="mb-3">
                <input type="checkbox" @bind-value="PasswordIncludeNumbers" />
                <label class="form-check-label h5">InClude Numbers</label>
            </div>
            <div class="mb-3">
                <input type="checkbox" @bind-value="PasswordIncludeSymbols" />
                <label class="form-check-label h5">InClude Symbols</label>
            </div>
            <button type="button" class="btn btn-primary" @onclick="GeneratePassword">Generate</button>
        </div>
    }
    @if (SelectedPasswordType == "word")
    {
        <div>
            @* Password Length *@
            <div class="mb-3">
                <label class="form-label h5">Number of words:</label>
                <br />
                @* <label class="form-label">Password Length: </label> *@
                <input type="number" class="" @bind-value="WordPasswordLength" />
                <input type="range" class="form-range" @bind-value="WordPasswordLength" min="1" max="1000" step="1" />
            </div>
            @* Password Length *@
            <div class="mb-3">
                <label class="form-label h5">Password Separator</label>
                <br />
                <label class="form-label">Password Length: </label>
                <input type="text" class="form-range" @bind-value="WordPasswordSeparator" />
            </div>
            @* IncludeUppercase *@
            <div class="mb-3">
                <input type="checkbox" @bind-value="IncludeUppercase" />
                <label class="form-check-label h5">IsEnable: Uppercase letters</label>
                <br />
                <label class="form-label">Password Length: </label>
                <input type="number" class="" @bind-value="WordPasswordIncludeUppercaseLength" />
                <input type="range" class="form-range" min="1" max="1000" step="1" @bind-value="WordPasswordIncludeUppercaseLength" />
            </div>
            @* IncludeLowercase *@
            <div class="mb-3">
                <input type="checkbox" @bind-value="WordPasswordIncludeLowercaseLength" />
                <label class="form-check-label h5">IsEnable: Lowercase letters</label>
                <br />
                <label class="form-label">Password Length: </label>
                <input type="number" class="" @bind-value="WordPasswordIncludeLowercaseLength" />
                <input type="range" class="form-range" min="1" max="1000" step="1" @bind-value="WordPasswordIncludeLowercaseLength" />
            </div>
            @* IncludeNumbers *@
            <div class="mb-3">
                <input type="checkbox" @bind-value="IncludeNumbers" />
                <label class="form-check-label h5">IsEnable: Numbers </label>
                <br />
                <label class="form-label">Password Length: </label>
                <input type="number" class="" @bind-value="WordPasswordIncludeNumbersLength" />
                <input type="range" class="form-range" min="1" max="1000" step="1" @bind-value="WordPasswordIncludeNumbersLength" />
            </div>
            @* IncludeSymbols *@
            <div class="mb-3">
                <input type="checkbox" @bind-value="IncludeSymbols" />
                <label class="form-check-label h5">IsEnable: Symbols</label>
                <br />
                <label class="form-label">Password Length: </label>
                <input type="number" class="" @bind-value="WordPasswordIncludeSymbolsLength" />
                <input type="range" class="form-range" min="1" max="1000" step="1" @bind-value="WordPasswordIncludeSymbolsLength" />
            </div>
            @* IncludeFirstLettersUppercase *@
            <div class="mb-3">
                <input type="checkbox" @bind-value="IncludeFirstLettersUppercase" />
                <label class="form-check-label h5">IsEnable: First letters uppercase in words</label>
                <br />
                <label class="form-label">Password Length: </label>
                <input type="number" class="" @bind-value="WordPasswordIncludeFirstLettersUppercaseLength" />
                <input type="range" class="form-range" min="1" max="1000" step="1" @bind-value="WordPasswordIncludeFirstLettersUppercaseLength" />
            </div>

            <button type="button" class="btn btn-primary" @onclick="GenerateWordPassword">Generate</button>
        </div>
    }

</div>

@if (passwordGeneratorOutput != null)
{
    <div class="generated-password-result">
        <p class="h5" contenteditable="false">@passwordGeneratorOutput.GeneratedPassword"></p>
    </div>


    <div style="display:flex; justify-content:center; align-items:center; height:100vh;">
        <div style="text-align:center; padding:20px; border:1px solid #ccc; border-radius:10px; box-shadow:0 4px 10px rgba(0,0,0,0.1);">
            <h3>Twoje hasło:</h3>
            <div style="font-size:1.5em; font-weight:bold; margin:10px 0; color:#2c3e50;">
                @passwordGeneratorOutput.GeneratedPassword
            </div>
        </div>
    </div>

}
@if (wordPasswordGeneratorOutput != null)
{
    <div class="generated-password-result">
        <p class="h5" contenteditable="false">@wordPasswordGeneratorOutput.GeneratedPassword"></p>
    </div>


    <div style="display:flex; justify-content:center; align-items:center; height:100vh;">
        <div style="text-align:center; padding:20px; border:1px solid #ccc; border-radius:10px; box-shadow:0 4px 10px rgba(0,0,0,0.1);">
            <h3>Twoje hasło:</h3>
            <div style="font-size:1.5em; font-weight:bold; margin:10px 0; color:#2c3e50;">
                @wordPasswordGeneratorOutput.GeneratedPassword
            </div>
        </div>
    </div>

}

@code {
    private string AlertMessage = "";
    private string SuccessMessage = "";
    private string ErrorMessage = "";
    private string generatedPassword = "";

    // Password generated option
    private string SelectedPasswordType = "password";
    // Password

    private PasswordGeneratorInput passwordGeneratorInput; //Input
    private PasswordGeneratorOutput passwordGeneratorOutput; // Output

    private int PasswordLength = 12;
    bool PasswordIncludeLowercase = false;
    bool PasswordIncludeUppercase = false;
    bool PasswordIncludeNumbers = false;
    bool PasswordIncludeSymbols = false;

    // Word Password
    private WordPasswordGeneratorInput wordPasswordGeneratorInput; // Input
    private WordPasswordGeneratorOutput wordPasswordGeneratorOutput; //Output

    private bool IncludeLowercase = false;
    private bool IncludeUppercase = false;
    private bool IncludeNumbers = false;
    private bool IncludeSymbols = false;
    private bool IncludeFirstLettersUppercase = false;

    private int WordPasswordLength = 5;
    private string WordPasswordSeparator = "~";

    private int WordPasswordIncludeLowercaseLength = 1;
    private int WordPasswordIncludeUppercaseLength = 1;
    private int WordPasswordIncludeNumbersLength = 1;
    private int WordPasswordIncludeSymbolsLength = 1;
    private int WordPasswordIncludeFirstLettersUppercaseLength = 1;

    protected override void OnInitialized()
    {
    }
    private async void GeneratePassword()
    {
        System.Diagnostics.Debug.WriteLine("Generate Password Clicked");

        if (PasswordValid())
        {
            ResetAlerts();
            ResetPasswords();
            AlertMessage = "Generating Password... \n";
            passwordGeneratorInput = new
           (
               passwordLength: PasswordLength,
               isIncludeLowercase: PasswordIncludeLowercase,
               isIncludeUppercase: PasswordIncludeUppercase,
               isIncludeNumbers: PasswordIncludeNumbers,
               isIncludeSymbols: PasswordIncludeSymbols
           );
            passwordGeneratorOutput = Generator.Generate(passwordGeneratorInput);
            SuccessMessage += "Password Generated";
        }
        else
        {
            ErrorMessage = "ERROR GeneratePassword";
            ErrorMessage = $"PasswordIncludeLowercase: {PasswordIncludeLowercase}, PasswordIncludeUppercase: {PasswordIncludeUppercase}, PassowrdIncludeNumbers: {PasswordIncludeNumbers}, PassowrdIncludeSymbols: {PasswordIncludeSymbols}, ";
        }
        StateHasChanged();
    }
    private async void GenerateWordPassword()
    {
        System.Diagnostics.Debug.WriteLine("Generate Word Password Clicked");
        try
        {
            if (WordPasswordLength > 0)
            {
                ResetAlerts();
                ResetPasswords();
                AlertMessage = "Generating Password... \n";
                AlertMessage += "Loading 370000 words to generator.";
                wordPasswordGeneratorInput = new
                    (
                        passwordWords: WordPasswordLength,
                        passwordSeperator: WordPasswordSeparator,
                        includeLowercaseLength: IncludeLowercase == true ? WordPasswordIncludeLowercaseLength : 0,
                        includeUppercaseLength: IncludeUppercase == true ? WordPasswordIncludeUppercaseLength : 0,
                        includeNumbersLength: IncludeNumbers == true ? WordPasswordIncludeNumbersLength : 0,
                        includeSymbolsLength: IncludeSymbols == true ? WordPasswordIncludeSymbolsLength : 0,
                        includeFirstLetersUpercaseLength: IncludeFirstLettersUppercase == true ? WordPasswordIncludeFirstLettersUppercaseLength : 0
                    );
                wordPasswordGeneratorOutput = await Generator.Generate(wordPasswordGeneratorInput);
                SuccessMessage += "Password Generated";
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }

    }
    private bool PasswordValid()
    {
        if (PasswordLength <= 0)
        {
            ErrorMessage = "Password Length must be greater than 0.";
            return false;
        }
        if (
           !PasswordIncludeLowercase &
           !PasswordIncludeUppercase &
           !PasswordIncludeNumbers &
           !PasswordIncludeSymbols
        ) return false;
        return true;
    }
    private void ResetAlerts()
    {
        AlertMessage = "";
        SuccessMessage = "";
        ErrorMessage = "";
    }
    private void ResetPasswords()
    {
        passwordGeneratorOutput = null;
        wordPasswordGeneratorOutput = null;
    }
}
