@page "/password-generator"
<h3>PasswordGeneratorPage</h3>


<div class="password-generator-option-list">

    @* <InputCheckbox @bind-Value="IncludeUppercase" /> Include Uppercase Letters<br />
    <InputCheckbox @bind-Value="IncludeUppercase" /> Include Uppercase Letters<br />
    <InputCheckbox @bind-Value="IncludeUppercase" /> Include Uppercase Letters<br />
    <InputCheckbox @bind-Value="IncludeUppercase" /> Include Uppercase Letters<br /> *@


    @*  Słowo&$64_ *@

    <select @bind="SelectedPasswordType" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option value="password">Password</option>"
        <option value="word">Words</option>"
    </select>
    
    <ul class="list-group">
    @if (SelectedPasswordType == "password")
    {
            @* Random string of leters *@

            @*
                Password:








            *@

        <input type="range" class="range-character" min="1" max="1000" step="1" @bind="PasswordLength" />
        <li class="list-group-item">
            <input type="checkbox" @bind="IsIncludeUppercase" />
        </li>
        
    

    }
    @if(SelectedPasswordType == "word")
        {
            <li class="list-group-item">
                <input type="checkbox" @bind-value="Word"
            </li>

        }
        @if (SelectedPasswordType != null)
    {
            <li class="list-group-item">
                <input type="checkbox" @bind="IsIncludeUppercase" tex"Include Lowercase Letters "  />
                <input type="range" @bind-value="IncludeUppercaseLength" min="1" max="50" />
            </li>

            <li class="list-group-item">
                <input type="checkbox" @bind="IsIncludeNumbers" />
                <input type="range" @bind-value="IncludeNumbersLength" min="1" max="50" />
            </li>
            <li class="list-group-item">
                <input type="checkbox" @bind="IsIncludeSymbols" />
                <input type="range" @bind-value="IncludeSymbolsLength" min="1" max="50" />
            </li>
            <li class="list-group-item">
                <input type="checkbox" @bind="IsIncludeNumbers" />
                <input type="range" @bind-value="IncludeNumbersLength" min="1" max="50" />
            </li>
        

        <input type="checkbox" @bind="IsIncludeUppercase" tex"Include Uppercase Letters " />
    }
    </ul>
</div>

<div>

    <p class="h5" contenteditable="false" @bind="generatedPassword"></p>
</div>







@code {
    private string generatedPassword = "";
    
    // private bool IsNoWordPasswordSelected { get; set; } = false;
    // private bool IsWordPasswordSelected { get; set; } = false;
    private string SelectedPasswordType { get; set; }

    private bool IsIncludeUppercase { get; set; } = true;
    private int IncludeUppercaseLength { get; set; } = 1;

    private bool IsIncludeNumbers { get; set; } = true;
    private int IncludeNumbersLength { get; set; } = 1;

    private bool IsIncludeSymbols { get; set; } = true;
    private int IncludeSymbolsLength { get; set; } = 1;


    private bool isIncludeWord { get; set; } = false;

    private int PasswordLength { get; set; } = 12;


    private bool IsIncludeWordFirstLeterUppercase { get; set; } = true;

    private string aaa { get; set; }


    private void TogglePasswordType(ChangeEventArgs e)
    {
        var selectedValue = e.Value?.ToString();
        if (selectedValue == "password")
        {
            IsNoWordPasswordSelected = true;
            // IsWordPasswordSelected = false;
        }
        else if (selectedValue == "word")
        {
            IsNoWordPasswordSelected = false;
            // IsWordPasswordSelected = true;
        }
    }


}
