<h3>PasswordGeneratorPage</h3>


<div class="password-generator-option-list">

    @* <InputCheckbox @bind-Value="IncludeUppercase" /> Include Uppercase Letters<br />
    <InputCheckbox @bind-Value="IncludeUppercase" /> Include Uppercase Letters<br />
    <InputCheckbox @bind-Value="IncludeUppercase" /> Include Uppercase Letters<br />
    <InputCheckbox @bind-Value="IncludeUppercase" /> Include Uppercase Letters<br /> *@

    <select @bind="aaa" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option @onselect="(IsWordGenerate = false)" value="password">Password</option>"

    </select>
    @if(!IsWordGenerate)
    {
        
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option value="8">8 Characters</option>
        <option value="12">12 Characters</option>
        <option value="16">16 Characters</option>
        <option value="20">20 Characters</option>
    </select>
    <input type="range" class="range-character" min="1" max="1000" step="1" @bind="PasswordLength"/>
    <RangeInput TValue="int" @bind-Value="PasswordLength" Min="8" Max="20" Step="1" />

    }
    else{

        <input type="range" class="range-words" min="1" max="100" step="1" />
    }


    
</div>

<div>

    <p class="h5" contenteditable="false" @bind="generatedPassword"></p>
</div>







@code {
    private string generatedPassword = "";
    
    private bool IsLeterPasswordSelected { get; set; } = false;
    private bool IsWordPasswordSelected { get; set; } = false;

    private bool IsIncludeUppercase { get; set; } = true;
    private bool IsIncludeLowercase { get; set; } = true;
    private bool IsIncludeNumbers { get; set; } = true;
    private bool IsIncludeSymbols { get; set; } = true;
    private int PasswordLength { get; set; } = 12;
    private bool isIncludeWord { get; set; } = false;



    private string aaa { get; set; }
}
